.Feed{
    /* flex: 0.4; */
    /* flex-grow: 1; */
    border-right: 1px solid #e0e0e0;
    padding-right: 8px;
    min-width: fit-content;
    white-space: normal;
    overflow: auto;
    position: fixed;
    display: flex;
    height: 100%;
    max-width: 592px;
    min-width: 200px;
    margin-top: -20px;
    flex-direction: column;
    /* margin-left: 16px; */
    min-height: 0;
}