.tagBox{
    margin-top: 0px !important;
    min-width: 250px;
    max-width: 250px;
    display: flex;
    padding: 20px 0;
    position: fixed;
    flex-direction: column;
    background-color: #F7F9F9;
    border-radius: 16px;
}

.tagContainerBox{
    /* margin-top: -80px; */
}


.title{
    /* background-color: red; */
    /* background-color: #F7F9F9; */
    margin-bottom: 10px;
    padding-left: 16px;
    font-size: 18px;
}