.Trending{
    /* flex: 0.5; */

    /* min-width: 300px;
    max-width: 350px;
    margin-top: 80px;
    margin-left: 616px; */

    padding: 20px 0;
    /* border: 1px solid blue; */
    position: relative;

    background-color: #F7F9F9;
    border-radius: 16px;
    
}


.title{
    /* background-color: red; */
    /* background-color: #F7F9F9; */
    margin: 0;
    padding-left: 16px;
    font-size: 18px;
}