.coverImg{
    width: 100%;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
}

.nameText{
    position: absolute;
    top: 200px;
    /* left: 50%; */
    right: 45%;
    text-align: center;

}

.userBio{
    position: fixed;
    margin-left: 20px;
    margin-top: 100px;
    color: red;
}

    /* Desktop */
    .bottom{
        visibility: collapse;
    }
    
    @media screen and (max-width: 599px) {
        /* mobile */
        .bottom{
            visibility: visible;
        }
    }